# === Database ===
DB_URL=jdbc:mysql://localhost:13306/feelarchive?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

# === Redis ===
REDIS_HOST=localhost
REDIS_PORT=16379

# === Mail (Google) ===
MAIL_USERNAME=
MAIL_PASSWORD=

# === Security (JWT) ===
JWT_SECRET=

# === External APIs ===
KAKAO_REST_API_KEY=
