# === Database ===
DB_URL=jdbc:mysql://localhost:13306/feelarchive?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

# === Redis ===
REDIS_HOST=localhost
REDIS_PORT=16379

# === Mail (Google) ===
MAIL_USERNAME=
MAIL_PASSWORD=

# === Security (JWT) ===
JWT_SECRET=

# === External APIs ===
KAKAO_REST_API_KEY=

# == Time Capsule
BATCH_SIZE=500
APP_SERVER_URL=http://localhost:8080
APP_CLIENT_URL=http://localhost:3001

# == AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
